{#- OZI
# ozi/templates/.github/workflows/release.yml
# SPDX-License-Identifier: MIT-0
#}
  run-ozi:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    steps:
     - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
     - uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065
       with:
          cache: 'pip'
          python-version: '3.13'
          allow-prereleases: true
          check-latest: true
     - run: python -m pip install -r requirements.txt
     - run: ozi-fix missing --update-wrapfile

  release:
    needs: [draft, checkpoint, run-ozi]
    runs-on: ubuntu-latest
    concurrency: release
    strategy:
      matrix:
        py:
          - security2
          - security1
          - bugfix
          - prerelease
      fail-fast: true
      max-parallel: 1
    outputs:
{%- raw %}
      hashes: ${{ steps.release.outputs.hashes }}
{%- endraw %}
    permissions:
      contents: write
      id-token: write
    steps:
{%- if project.github_harden_runner %}
{% include ".github/workflows/harden_runner.yml.j2" %}
        allowed-endpoints: >
        {%- for endpoint in spec.python.ci.github.harden_runner.endpoints.release.split(' ') %}
            {{ endpoint }}
        {%- endfor %}
{%- endif %}
      - uses: OZI-Project/release@f83f287f61cd7b56e159a2c7fa7c1525bcec9aa2
        id: release
        with:
{%- raw %}
          python-dist: ${{ matrix.py }}
          tag: ${{ needs.draft.outputs.tag }}
{%- endraw %}
{%- if project.signed_wheel %}
          wheel-sign-token: ${{ secrets.WHEEL_SIGN_TOKEN }}
{%- endif %}
